<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.galacticadventurejournal">
    <!-- Permissions for Camera, Storage, and Notifications -->
    <uses-permission
        android:name="android.permission.CAMERA"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- Location permissions for Map -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/welcome_to_galactic_adventure_journal"
        android:supportsRtl="true"
        android:theme="@style/Theme.GalacticAdventureJournal">

        <activity
            android:name=".PreviousActivity"
            android:exported="true"
            android:label="Previous Activity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- MainActivity is the launcher activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Other activities -->
        <activity
            android:name=".JournalActivity"
            android:exported="true" />
        <activity
            android:name=".PlanetExploreActivity"
            android:exported="true" />
        <activity
            android:name=".AstronomyEventsActivity"
            android:exported="true" />
        <activity
            android:name=".PlanetInfoActivity"
            android:exported="true" />
        <activity
            android:name=".AchievementsActivity"
            android:exported="true" />
        <activity
            android:name=".StarSpottingChallengeActivity"
            android:exported="true" />
        <activity
            android:name=".JourneysListActivity"
            android:exported="true" /> <!-- LoginActivity activity declaration -->
        <activity
            android:name=".LoginActivity"
            android:label="Login Activity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity android:name=".PostLoginActivity"
            android:label="Post Login Activity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />

    </application>

</manifest>